<h2>You are now Logged In</h2>
<div align="center">
<h1>Welcome to your Profile {{title}}</h1>
</div>
<br>
<br>
<br>
<div align="center">
    <form action="/logout?_method=DELETE" method="post">
        <button type="submit">LogOut</button>
    </form>
</div>